@tailwind base;
@tailwind components;

html,
body,
#app {
  height: auto;
  display: flex;
  flex-direction: column;
}

#app > * {
  flex: 1;
}

#app {
  background-image: url("../images/seatop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  @apply p-4;
}

/* Calendar override */
.fc-day-grid-event {
  display: flex !important;
  height: 4rem !important;
}
.fc-day-grid-event .fc-content {
  order: 2 !important;
}

.fc-toolbar {
  @apply flex flex-col;
}

@screen sm {
  .fc-toolbar {
    @apply flex-row;
  }
}

@tailwind utilities;
