@tailwind base;
@tailwind components;

html,
body,
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app > * {
  flex: 1;
}

#app {
  background-image: url("../images/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Calendar override */
.fc-day-grid-event {
  display: flex !important;
  height: 2rem !important;
}
.fc-day-grid-event .fc-content {
  order: 2 !important;
}

@tailwind utilities;
